__pycache__
*.pyc
*.pyo
.git
.github
.vscode
*.egg-info
dist
build
data/raw
data/external
notebooks
tests
outputs/logs
outputs/results
environment.yml
README.md
.dockerignore
Dockerfile
docker-compose.yml
